<div class="row">
  <aside class="col-sm-4">
    <%= form_with(model: @client) do |f| %>
      <div class="mb-3">
        <%= f.label :name, '＋新しい顧客を追加する' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= f.submit '追加する', class: 'btn btn-primary w-100' %>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <h1 class="ms-4">顧客一覧</h1>
    <% if @clients.any? %>
      <% @clients.each do |client| %>
        <div class="card mb-3">
          <div class="card-body justify-content-between">
            <%=link_to client.name, client_sales_path(client), class: 'card-title link-dark' %>
            <%= link_to '編集する', client, class: 'card-link btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
</div>