<h2>・顧客の名前を編集する</h2>
<%= form_with(model: @client) do |f| %>
  <div class="mb-3">
    <%= f.label :name, '名前', class: 'col-form-label' %>
    <div class="row">
      <div class="col-md-3">
      <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit '編集する', class: 'btn btn-primary' %>
<% end %>
<h2 class="mt-5">・この顧客を削除する</h2>
<%= link_to "削除する", @client, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: 'btn btn-danger mt-2' %>