<div class="row">
  <aside class="col-sm-4">
    <%= form_with(model: [@client, @sale]) do |f| %>
      <div class="mb-3">
        <%= f.label :date, '＋日付' %>
        <%= f.date_select :date, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :item, '＋購入したアイテム' %>
        <%= f.text_field :item, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :item_quantity, '＋購入した個数' %>
        <%= f.number_field :item_quantity, class: 'form-control' %>
      </div>
      <%= f.submit '追加する', class: 'btn btn-primary w-100' %>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <h2><%= @client.name %>様</h2>
    <% if @sales.any? %>
      <% @sales.each do |sale| %>
        <div class="card mb-3">
          <div class="card-body">
            <div>
              日付：<%= sale.date %>
            </div>
            <div>
              アイテム：<%= sale.item %>
            </div>
            <div>
              個数：<%= sale.item_quantity %>
            </div>
            <div>
              <%= link_to '編集する', client_sale_path(id: sale) %>
            </div>
          </div>
        </div>
      <% end %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
</div>